:root { color-scheme: light dark; supported-color-schemes: light dark; }
@media (prefers-color-scheme: dark) {
  .ts-bg-outer { background-color: #151B17 !important; }
  .ts-bg-surface { background-color: #202621 !important; }
  .ts-bg-footer { background-color: #202621 !important; }
  .ts-bg-danger { background-color: #402723 !important; }
  .ts-bg-success { background-color: #213B2B !important; }
  .ts-bg-warning { background-color: #40351F !important; }
  .ts-bg-info { background-color: #26343C !important; }
  .ts-fg { color: #EEE9DE !important; }
  .ts-primary { color: #F4EFE6 !important; }
  .ts-muted { color: #C3C5B8 !important; }
  .ts-danger { color: #FFB4A9 !important; }
  .ts-success { color: #A2D7AE !important; }
  .ts-warning { color: #F0CE83 !important; }
  .ts-info { color: #BFCDD7 !important; }
  .ts-border { border-color: #465047 !important; }
  .ts-art-light { display: none !important; max-height: 0 !important; overflow: hidden !important; }
  .ts-art-dark { display: block !important; max-height: none !important; overflow: hidden !important; height: auto !important; }
}
[data-ogsc] .ts-bg-outer { background-color: #151B17 !important; }
[data-ogsc] .ts-bg-surface { background-color: #202621 !important; }
[data-ogsc] .ts-bg-footer { background-color: #202621 !important; }
[data-ogsc] .ts-bg-danger { background-color: #402723 !important; }
[data-ogsc] .ts-bg-success { background-color: #213B2B !important; }
[data-ogsc] .ts-bg-warning { background-color: #40351F !important; }
[data-ogsc] .ts-bg-info { background-color: #26343C !important; }
[data-ogsc] .ts-fg { color: #EEE9DE !important; }
[data-ogsc] .ts-primary { color: #F4EFE6 !important; }
[data-ogsc] .ts-muted { color: #C3C5B8 !important; }
[data-ogsc] .ts-danger { color: #FFB4A9 !important; }
[data-ogsc] .ts-success { color: #A2D7AE !important; }
[data-ogsc] .ts-warning { color: #F0CE83 !important; }
[data-ogsc] .ts-info { color: #BFCDD7 !important; }
[data-ogsc] .ts-border { border-color: #465047 !important; }
[data-ogsc] .ts-art-light { display: none !important; max-height: 0 !important; overflow: hidden !important; }
[data-ogsc] .ts-art-dark { display: block !important; max-height: none !important; overflow: hidden !important; height: auto !important; }
